Email Automatin Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE",
          "mode": "list",
          "cachedResultName": "yashika india_company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 216757620,
          "mode": "list",
          "cachedResultName": "india_df",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE/edit#gid=216757620"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -512,
        -144
      ],
      "id": "5bf7014e-01fc-40aa-82ea-37be55a0a6ee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vek9bnm9UdT36xRy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac394261-411b-4bb2-af4f-a5de4d71c120",
              "leftValue": "={{ $json['Status '] }}",
              "rightValue": "No Mail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -144
      ],
      "id": "5b9f55e1-3dc8-4769-9bf6-e655238c1c0a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Hunter').item.json.email }}",
        "subject": "Application for Data Analyst Intern",
        "message": "=<p>Dear Sir/Ma'am,</p>\n\n<p>I hope you're doing well. I am interested in exploring job opportunities at <strong>{{ $('Message a model1').item.json.content.parts[0].text }}</strong>. My name is Yashika Sahu, and I am a Data Analyst. My skills and expertise can be valuable assets to <strong>{{ $('Message a model1').item.json.content.parts[0].text }}</strong>.</p>\n\n<p>Over the years, I have developed strong skills in <strong>Python, AI automation workflows, SQL, N8N, Power BI, Tableau, Machine Learning, and other relevant tools and technologies</strong>. My passion lies in using data to drive informed decision-making and contribute to business growth. My skills, experience, and enthusiasm make me an ideal fit for any relevant positions in <strong>{{ $('Message a model1').item.json.content.parts[0].text }}</strong>.</p>\n\n<p>I have attached my resume to this email. Please feel free to review it and let me know if any job openings match my skills and experience. I’m confident I can make meaningful contributions to your team.</p>\n\n<p>Thank you for taking the time to read this email. I look forward to hearing from you and discussing how I can support your team's success.</p>\n\n<p>Best regards,</p>\n<p>Yashika Sahu</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        -432
      ],
      "id": "5d81c2da-9431-4e9e-8c46-c75904c368b1",
      "name": "Send a message1",
      "webhookId": "89941501-a56f-4881-b1d2-d4cc9730c4bd",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8jdSFJbcff1oFiEg",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1msxPPKwfg-__JVXzavM9ujKdvjDoEZQZ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -432
      ],
      "id": "967139e5-4b0a-445a-a449-65c956e8c83c",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -144
      ],
      "id": "eba74675-ba2d-412d-a909-258a869c1add",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE",
          "mode": "list",
          "cachedResultName": "yashika india_company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 216757620,
          "mode": "list",
          "cachedResultName": "india_df",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U5N2OpGjwv_3a_rA5WgTGgOYWslaFmoyOmTxwzLPvPE/edit#gid=216757620"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('yyyy-MM-dd') }}\n",
            "Website_URL": "={{ $('Get row(s) in sheet').item.json.Website_URL }}",
            "Status ": "Mailed"
          },
          "matchingColumns": [
            "Website_URL"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ahmedabad",
              "displayName": "ahmedabad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website_URL",
              "displayName": "Website_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails1 ",
              "displayName": "Emails1 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails2",
              "displayName": "Emails2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails3",
              "displayName": "Emails3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails4",
              "displayName": "Emails4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emails5",
              "displayName": "Emails5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finishReason",
              "displayName": "finishReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1664,
        -176
      ],
      "id": "6133181a-da7f-442d-b120-2a6052b51f94",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vek9bnm9UdT36xRy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5bcbe40-9e6a-44f1-aef9-9849fbcc561a",
              "leftValue": "={{ $('If').item.json.Emails1}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -400
      ],
      "id": "d26f0bb7-86fe-4ca6-b071-f8a800c27368",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5bcbe40-9e6a-44f1-aef9-9849fbcc561a",
              "leftValue": "={{ $('If').item.json.Emails3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -32
      ],
      "id": "e10c1737-b00f-46e6-8f80-b5afe01b7d98",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5bcbe40-9e6a-44f1-aef9-9849fbcc561a",
              "leftValue": "={{ $('If').item.json.Emails4 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        160
      ],
      "id": "d4bf4539-73b9-44a2-b665-c0dabe7dbac7",
      "name": "If4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -144
      ],
      "id": "7e0e6870-25cf-4583-83cf-695e722787a9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $('If').item.json.Emails1 }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        576,
        -416
      ],
      "id": "39fc2878-f9ed-4e9c-ad69-3c7771b06d0b",
      "name": "Hunter",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "6lEHP20794Hq3LDU",
          "name": "Hunter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.Website_URL }}give only company name from url "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -144
      ],
      "id": "8081fb3a-36e5-4375-bc7a-263627887b3d",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "sMuuxqis9zlXrxkS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $('If').item.json.Emails2 }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        576,
        -240
      ],
      "id": "a2d784bf-3e6a-4c08-8a64-9f246bac66bb",
      "name": "Hunter1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "6lEHP20794Hq3LDU",
          "name": "Hunter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $('If').item.json.Emails3 }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        560,
        -32
      ],
      "id": "c89e1b65-3d40-45d6-ad56-ea4cacf0fd77",
      "name": "Hunter2",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "6lEHP20794Hq3LDU",
          "name": "Hunter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $('If').item.json.Emails4 }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        560,
        160
      ],
      "id": "26497c2b-21c2-43f6-ab65-ff4699e28752",
      "name": "Hunter3",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "6lEHP20794Hq3LDU",
          "name": "Hunter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5bcbe40-9e6a-44f1-aef9-9849fbcc561a",
              "leftValue": "={{ $('If').item.json.Emails2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -240
      ],
      "id": "544b4617-de3e-4460-900a-284b6d95ce9d",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        -352
      ],
      "id": "043da698-fdb5-4db3-a2f5-e66e67359242",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        32
      ],
      "id": "e0e38c23-04b8-49ca-958f-8405aedfe7dc",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -176
      ],
      "id": "ddffedcd-0123-4bed-a434-8a67d0e2af26",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1msxPPKwfg-__JVXzavM9ujKdvjDoEZQZ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -256
      ],
      "id": "dd262d89-964c-439a-a6ff-c567c93730b5",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1msxPPKwfg-__JVXzavM9ujKdvjDoEZQZ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -48
      ],
      "id": "f34567bc-fc97-4a28-b397-e1b914ac1056",
      "name": "HTTP Request2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1msxPPKwfg-__JVXzavM9ujKdvjDoEZQZ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        160
      ],
      "id": "5512345a-dfc6-40c7-8d5a-8bd84f849fc7",
      "name": "HTTP Request3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Hunter1').item.json.email }}",
        "subject": "Application for Data Analyst Intern",
        "message": "=Dear Sir/Ma'am,\n\nI hope you're doing well. I am interested in exploring job opportunities at {{ $('Message a model1').item.json.content.parts[0].text }}. My name is Yashika Sahu, and I am a Data Analyst. My skills and expertise can be valuable assets to {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nOver the years, I have developed strong skills in Python, AI automation workflows, SQL, N8N, Power BI, Tableau, Machine Learning, and other relevant tools and technologies. My passion lies in using data to drive informed decision-making and contribute to business growth. My skills, experience, and enthusiasm make me an ideal fit for any relevant positions in {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nI have attached my resume to this email. Please feel free to review it and let me know if any job openings match my skills and experience. I’m confident I can make meaningful contributions to your team.\n\nThank you for taking the time to read this email. I look forward to hearing from you and discussing how I can support your team's success.\n\nBest regards,\nYashika Sahu",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        -256
      ],
      "id": "86e80e77-e704-4643-9f93-87cc2b5c4f41",
      "name": "Send a message",
      "webhookId": "89941501-a56f-4881-b1d2-d4cc9730c4bd",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8jdSFJbcff1oFiEg",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Hunter2').item.json.email }}",
        "subject": "Application for Data Analyst Intern",
        "message": "=Dear Sir/Ma'am,\n\nI hope you're doing well. I am interested in exploring job opportunities at {{ $('Message a model1').item.json.content.parts[0].text }}. My name is Yashika Sahu, and I am a Data Analyst. My skills and expertise can be valuable assets to {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nOver the years, I have developed strong skills in Python, AI automation workflows, SQL, N8N, Power BI, Tableau, Machine Learning, and other relevant tools and technologies. My passion lies in using data to drive informed decision-making and contribute to business growth. My skills, experience, and enthusiasm make me an ideal fit for any relevant positions in {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nI have attached my resume to this email. Please feel free to review it and let me know if any job openings match my skills and experience. I’m confident I can make meaningful contributions to your team.\n\nThank you for taking the time to read this email. I look forward to hearing from you and discussing how I can support your team's success.\n\nBest regards,\nYashika Sahu",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        -48
      ],
      "id": "ff825a53-2b83-4666-a920-f810bd3ac71d",
      "name": "Send a message2",
      "webhookId": "89941501-a56f-4881-b1d2-d4cc9730c4bd",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8jdSFJbcff1oFiEg",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "=",
        "subject": "Application for Data Analyst Intern",
        "message": "=Dear Sir/Ma'am,\n\nI hope you're doing well. I am interested in exploring job opportunities at {{ $('Message a model1').item.json.content.parts[0].text }}. My name is Yashika Sahu, and I am a Data Analyst. My skills and expertise can be valuable assets to {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nOver the years, I have developed strong skills in Python, AI automation workflows, SQL, N8N, Power BI, Tableau, Machine Learning, and other relevant tools and technologies. My passion lies in using data to drive informed decision-making and contribute to business growth. My skills, experience, and enthusiasm make me an ideal fit for any relevant positions in {{ $('Message a model1').item.json.content.parts[0].text }}.\n\nI have attached my resume to this email. Please feel free to review it and let me know if any job openings match my skills and experience. I’m confident I can make meaningful contributions to your team.\n\nThank you for taking the time to read this email. I look forward to hearing from you and discussing how I can support your team's success.\n\nBest regards,\nYashika Sahu",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        144
      ],
      "id": "b63d497a-deb3-43bf-87a7-33ff6341a76f",
      "name": "Send a message3",
      "webhookId": "89941501-a56f-4881-b1d2-d4cc9730c4bd",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8jdSFJbcff1oFiEg",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Hunter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Hunter3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Hunter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4994843e-6e68-4896-807a-2eba644d951b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9c3114c8a7dfaa89a5410f61fbf9f861ec3a65e6fc97c48c06dee91595c234d"
  },
  "id": "QQv3VOIXeqA60kwD",
  "tags": []
}